/*? table of contents  */
/* 1. left section  */
/* 2. RIGHT SECTION ==> ANIMATION  */
/*? table of contents  */



/*! **************************** LEFT SECTION  *************************** */

section.hero {
    margin-top: 3rem;
}

section.hero .parent-avatar.flex {
    align-items: end;
    gap: 0.6rem;
}

section.hero .left-Section {
    flex-grow: 1;
}

section.hero .avatar {
    width: 88px;
    border-radius: 50%;
    border: 1px solid gold;
    padding: 5px;
    box-shadow: 2px 2px 40px rgba(128, 128, 128, 0.633) inset;
}

section.hero .icon-verified {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}

section.hero h1.title {
    font-size: 2.85rem;
    line-height: 3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero p.sub-title {
    color: var(--subtitle);
    font-size: 1rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}

section.hero .icons {
    font-size: 1.3rem;
    gap: 1rem;
}

section.hero .icon-x {
    color: var(--blue);
}

section.hero .icon-github {
    color: gold;
}


section.hero .icon:hover {
    font-size: 1.4rem;
    transition: 0.3s;
    color: gold;
    cursor: pointer;
}

/*! **************************** LEFT SECTION  *************************** */


/*! **************************** RIGHT SECTION ==> ANIMATION  *************************** */




.hero .right-section {
    display: flex;
    justify-content: center;
    width: 100%;
}



.computer {
    width: 90%;
    translate: 15px 70px;
}










/*! **************************** RIGHT SECTION ==> ANIMATION  *************************** */




@media (max-width: 640px) {
    .hero.flex {
        flex-direction: column;
        gap: 2.64rem;
        align-items: center;
    }
    
    
    .computer {
        translate: 0px 0px;
    }
}